/* Set environment variables here */

var DISCORD_WEBHOOK_MAIN = "https://canary.discord.com/api/webhooks/859011944502735134/QY6igiEN_c1E7KVP-I59lBGfG8ZuBImSQ4LNvQjOgRdrkaKBVC8yTvFh9pbmTS3r0DA9";
var DISCORD_WEBHOOK_LOWP = "https://canary.discord.com/api/webhooks/859011944502733134/QY6igiEN_c1E7KVP-I59lBGfG8ZuBImSQ4LNvQjOgRsrkaKBVC8yTvFh9pbmTS3r0DA9";
var DISCORD_WEBHOOK_META = "https://canary.discord.com/api/webhooks/859011948102735134/QY6igiEN_c1E7KVP-I59lBGfG8sdBImSQ4LNvQjOgRdrkaKBVC8yTvFh9pbmTS3r0DA9";