<!doctype html>
<html class="no-js" lang="en-AU">

<!-- Find PotatoBoard at https://github.com/aidswidjaja/potatoboard-->
<!-- open source and everything under the MIT License! 2020-2021 (c) aidswidjaja -->

<head>
    <title>All posts | TYSK</title>
    {% include "board/head.html" %}
</head>

<body>

    {% include "board/init.html" %}

    {% if post_list_all %}
    <h2 class="mb-3 ms-3 me-3">every single post, ever!</h2>
    {% for post in post_list_all %}
    <div class="main-content">
        <div class="card mb-3 ms-3 me-3 post-card">
            <div class="card-header">
                <h6 class="text-uppercase subject-heading">{{ post.get_subject_display }}</h6>
            </div>
            <div class="card-body">
                <p class="card-text">
                <p class="post-card-text" id="{{ post.id }}"></p>
                <script>
                    var element = document.getElementById('{{ post.id }}');
                    content = marked('{{ post.content|linebreaksbr }}');
                    element.insertAdjacentHTML('afterbegin', content);
                // $clamp(element, {clamp: 3, useNativeClamp: true,});
                // see https://github.com/aidswidjaja/PotatoBoard/issues/1
                </script>
                <br>
                </p>
                <h6>
                    {% if post.channel == "MAIN" %}
                    <span class="badge badge-primary" style="background-color: #0070FF;">Main channel</span>
                    {% endif %}
                    {% if post.channel == "LOWP" %}
                    <span class="badge badge-primary" style="background-color: #FFBE00; color: #000000;">Low
                        priority</span>
                    {% endif %}
                    {% if post.channel == "META" %}
                    <span class="badge badge-primary" style="background-color: #008A4F;">Meta update</span>
                    {% endif %}
                    {% if post.important %}
                    <span class="badge badge-primary" style="background-color: #FF0000;">Important</span>
                    {% endif %}
                    <span class="inline-options-container">
                        <a class="inline-options clipboard-handler" id="tooltip{{ post.id }}"
                            data-clipboard-text="https://{{ url }}/{{ post.id}}/">permalink</a>
                        &nbsp;
                        <a class="inline-options" href="../{{ post.id }}">see details >></a>
                    </span>
                </h6>
            </div>
        </div>
        {% endfor %}
        <p class="mb-3 me-3 ms-3" style="color:#8C9095; font-weight: bold;">the beginning of everything</p>
        {% else %}
        {% endif %}
    </div>



</body>

{% include "board/footer.html" %}

</html>