<!-- Find PotatoBoard at https://github.com/aidswidjaja/potatoboard-->
<!-- open source and everything under the MIT License! 2020-2021 (c) aidswidjaja -->

<!-- using PotatoBoard outside of TYSK? you'll need to replace some of the hardcoded strings in this file then -->

<nav class="navbar navbar-light" style="background-color: #E1E1E1">
    <div class="container-fluid footer">
        <span class="mb-0 nav-link disabled"><strong>Need help? Email <a
                href="mailto:tysk@adrian.id.au?subject=Enquiry%20(PotatoBoard)&body=Name%3A%0D%0ADiscord%2FInstagram%2FWhatsApp%20(optional)%3A%0D%0AUser%2FStaff%3F%3A%0D%0A%0D%0AYour%20enquiry%3A%0D%0A">tysk@adrian.id.au</a></strong>
        </span>
        <span class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">indev</a>
            <!-- see issue #5 on GitHub -->
    </div>
</nav>