<!-- Find PotatoBoard at https://github.com/aidswidjaja/potatoboard-->
<!-- open source and everything under the MIT License! 2020-2021 (c) aidswidjaja -->

<!-- using PotatoBoard outside of TYSK? you'll need to replace some of the hardcoded strings in this file then -->

<meta charset="utf-8">
<title>Things You Should Know</title>
<meta name="description"
    content="A free information service for Year 10 Aloys students to keep up-to-date with important events, assessments, and anything school related.">
<meta name="author" content="aidswidjaja">
<meta name="viewport" content="width=device-width, initial-scale=1">

{% load static %}

<link rel="stylesheet" type="text/css" href="{% static 'main.css' %}">

<!-- Bootstrap -->
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW"
    crossorigin="anonymous"></script>

<!-- Twemoji -->
<!-- todo: figure out this emoji -->
<!-- <script src="https://twemoji.maxcdn.com/v/latest/twemoji.min.js" crossorigin="anonymous"></script> -->

<!--DOMPurify -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/dompurify/2.2.6/purify.min.js"
    integrity="sha512-rXAHWSMciPq2KsOxTvUeYNBb45apbcEXUVSIexVPOBnKfD/xo99uUe5M2OOsC49hGdUrkRLYsATkQQHMzUo/ew=="
    crossorigin="anonymous"></script>

<!-- Marked -->
<script src="https://cdn.jsdelivr.net/npm/marked/marked.min.js"></script>

<!-- clamp-js-main -->
<!-- <script src="https://cdn.jsdelivr.net/npm/clamp-js-main@0.11.6/clamp.min.js"></script> -->
<!-- see https://github.com/aidswidjaja/PotatoBoard/issues/1 -->

<!-- clipboard.js -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/clipboard.js/2.0.6/clipboard.min.js"></script>

<link rel="icon" type="image/png" href="favicon.png" />

<meta name="theme-color" content="#fafafa">